.top-nav {
  height: 80px;
}

#certs {
  margin-top: 20px;
}

.asana {
  background-color: orange;
}

.facebook {
  background-color: blue;
}

.salesforce {
  background-color: lightblue;
}

.tableau {
  background-color: purple;
}

.card-text {
  font-weight: bold;
}
